<h1 class="green">{{msg}}{{amount| currency:'INR'}} </h1>
<h2 >{{currentdate|date:'dd-MM-yyyy'}}</h2>
<input type="email" name="email" id="email" (change)="dataChange()" [(ngModel)]="inputValue">
<h1>{{inputValue}} </h1>
{{error1}}
<ol *ngFor="let i of data1">
<li>{{i.name}} </li>
</ol>
<input  [(ngModel)]="name1" type="text" name="name" id="name" #name>
<h3>{{name1}}</h3>
<button (click)="logMsg(name.value)">Log</button>
<app-home (childData)="msg=$event" [parentData]="data"></app-home>
<app-employeelist>Employees:</app-employeelist>
<app-employeedetail>Details:</app-employeedetail>
<app-login></app-login>
<app-register></app-register>


<router-outlet></router-outlet>
